<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Imovel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroimoveis.css') }}">
    <style>
        body{
        background-image:url({{url_for('static', filename='img/header-2-bg.jpg')}})
    }
    </style>   
</head>
<body>
  
    <div class="form-imovel">
        <div class="form-header">
            <div class="title">
                <h1>Cadastro de Imovel</h1>
        </div>
    </div>
       
    <form action="" method="post">

        <div class="input-group">
            <div class="input-box">
        <label id="text-input" for="tipo-imovel">Tipo do Imovel:</label>
        <select name="tipoimovel" id="tipoimovel">
            <option value="casa"> Casa</option>
            <option value="apartamento">Apartamento</option>
        </select>
        </div>
        
            <div class="input-box">
        <label id="text-input" for="quantidade-quartos">Quantidade de Quartos:</label>
        <input type="number" id="quantidade-quartos" name="quantidadequartos" placeholder="1-10" min="1" max="10" required>
            </div>
            
            
            <div class="input-box">
        <label id="text-input" for="quantidade-suites">Quantidade de Suites:</label>
        <input type="number" id="quantidade-suites" name="quantidadesuites" placeholder="0-10" min="0" max="10" required>
            </div>


            <div class="input-box">
        <label id="text-input" for="quantidade-banheiros">Quantidade de Banheiros:</label>
        <input type="number" id="quantidade-banheiros" name="quantidadebanheiros" placeholder="1-10" min="1" max="10" required>
            </div>

            <div class="input-box">
        <label id="text-input" for="quantidade-garagem">Garagem:</label>
        <input type="number" id="quantidade-garagem" name="quantidadegaragem" placeholder="P/ quantos carros?"  max="5"required>
        <label id="text-input" for="descgaragem">Garagem Coberta?</label>
        <select name="descgaragem" id="descgaragem">
            <option value="nao">Não</option>
            <option value="sim">Sim</option>
        </select>
             </div>   



           

            <div class="input-box">
        <label id="text-input" id="text-input" for="cep">CEP</label>
        <input id="cep" type="number" name="cep" placeholder="Digite seu CEP" required>
            </div>


            
            <div class="input-box">
        <label id="text-input" for="uf">UF</label>
        <input id="uf" type="text" name="uf" placeholder="Digite seu UF" required>
            </div>


            <div class="input-box">
        <label id="text-input" for="cidade">Cidade</label>
        <input id="cidade" type="text" name="cidade" placeholder="Digite sua Cidade" required>
            </div>


        
            <div class="input-box">
        <label id="text-input" for="bairro">Bairro</label>
        <input id="bairro" type="text" name="bairro" placeholder="Digite seu Bairro" required>
            </div>

     
            <div class="input-box">
        <label for="endereco">Endereço</label>
        <input id="endereco" type="text" name="endereco" placeholder="Digite seu endereço" required>
            </div>


            <div class="input-box">
        <label for="numero">Nº</label>
        <input id="numero" type="text" name="numero" placeholder="Digite o Nº" required>
            </div>
        

        
            <div class="input-box">
        <label for="complemento">Complemento</label>
        <input id="complemento" type="text" name="complemento" placeholder="Complemento" >
            </div>


        
            <div class="input-box">
        <label for="valor-imovel">Valor do Imóvel:</label>
        <input type="" id="valor-imovel" name="valorimovel" placeholder="Ex: 30.000,00">
            </div>

                

            <div class="input-box">
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto">
            </div>
   

            <div class="input-box">
                <label for="description">Descrição:</label>
                <input id="description" type="text" name="description" placeholder="Descrição" >
             </div>
             
             <br>
             <br>
             <br>
 
            <div class="input-box">
                <label id="text-input" for="area-de-servico">Possui area de serviço?</label>
                <select name="areadeserv" id="areadeserv">
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
                    </div>
        
                    <div class="input-box">
                <label id="text-input" for="piscina">Possui Piscina?</label>
                <select name="piscina" id="piscina">
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
                    </div>
                    <br>
                    <br>
                    <br>
        
                    <div class="input-box">
                <label id="text-input" for="internet">Possui Internet?</label>
                <select name="internet" id="internet">
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
             
                    </div>
                    <br>
                    <br>
                    <br>
                   
        
                    <div class="input-box">
                <label id="text-input" for="mobiliado">Imovel Mobiliado?</label>
                <select name="mobiliado" id="mobiliado">
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
               
                    </div>
        
                    <br>
                    <br>
                    <br>
                   
                
                    <div class="input-box">
                <label id="text-input" for="animal-estimacao">Permite Animais de Estimação?</label>
                <select name="pet" id="pet">
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
                    </div>
                    <br>
                    <br>
                   



        <div class="input-box">
        <button type="submit">Enviar</button>
        </div>
        <div class="alert alert-warning">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
    </div>
    </form>

<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
</body>
</html>